@import '~js-datepicker/src/datepicker';

@import 'login';
@import 'variables';
@import 'manager-view';
@import 'user-view';
@import 'mixins';
@import 'user-view-make-booking';

body {
	background-color: $mid-blue;
	color: $text;
	font-family: 'Arial', sans-serif;

	.hide {
		display: none;
	}
}