@import 'login';
@import 'variables';


.hide {
	display: none;
}

body {
	background-color: $mid-blue;
	color: $text;
	font-family: 'Arial', sans-serif;
}


header {
	background-color: #141e30;
	border-bottom: solid 2px $accent;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	padding-bottom: 5px;

	h4 {
		margin-top: 5px;
	}
}

.entrance {
	height: 400px;
	width: 100%;
	margin: none;
}

.amenities {
	display: flex;
	float: left;
	flex-direction: column;
	justify-content: center;
	margin-top: 70px;
	width: 28%;

	img {
		//mixin
		border-radius: 6px;
		border: 1px solid $accent;
		box-shadow: 0 0 1.5em rgb(20, 30, 48);
		//
		height: 300px;
		margin: 20px;
	}

	p {
		margin: auto;
	}

}

.menu {
	background-color: $dark-blue;
	border: 1px solid $accent;
	box-shadow: 0 0 1.5em rgb(20, 30, 48);
	border-radius: 6px;
	display: flex;
	float: right;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
	padding: 10px;
	width: 20%;
	
	img {
		border-radius: 6px;
		height: 200px;
	}
}

.customer-main-dashboard {
	background-color: $dark-blue;
	border: 1px solid $accent;
	border-radius: 6px;
	box-shadow: 0 0 1.5em rgb(20, 30, 48);
	display: inline-block;
	margin: 15px;
	padding: 20px;
	width: 640px;

	.customer-welcome {
		padding-top: 20px;
	}

	.my-bookings {
		display: flex;
		justify-content: center;
		flex-direction: column;

		.my-bookings-container {
			display: block;
		}

		p {
			border-bottom: 1px solid $accent;
			margin-bottom: 15px;
		}
	}
}
.manager-view {

	h2 {
		text-align: center;
	}

	div{
		display: flex;
		justify-content: center;
		
		.manager-dashboard {
			background-color: $dark-blue;
			border: 1px solid $accent;
			border-radius: 6px;
			box-shadow: 0 0 1.5em rgb(20, 30, 48);
			display: flex;
			flex-direction: column;
			padding: 15px;
			text-align: center;
			width: 350px;;
			
			p {
				border-bottom: 1px solid $accent;
				margin-bottom: 15px;
			}
		}
	}
	
}